ejercicio_biblioteca_xsd/biblioteca.xsd

<?xml version="1.0"?>
<!--ME FALTA REVISAR:
        - QUE LOS ID NO SE PUEDAN REPETIR-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:annotation>
    <xs:documentation>
        Este es un esquema que nos permite la validación del archivo "biblioteca.xml".
    </xs:documentation>
</xs:annotation>

    <xs:element name="biblioteca">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="libros">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="libro" maxOccurs="unbounded">
                                <xs:complexType>

                                    <xs:sequence>
                                        
                                        <xs:element name="titulo" type="xs:string"/>
                                        <xs:element name="indice" type="xs:string"/>
                                        <xs:element name="capitulos">

                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="capitulo" maxOccurs="unbounded">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="titulo" type="xs:string"/>
                                                                <xs:element name="contenido">
                                                                    <xs:complexType>
                                                                        <xs:attribute name="enlace" type="xs:string"/>
                                                                    </xs:complexType>
                                                            </xs:element>
                                                            </xs:sequence>
                                                            <xs:attribute name="paginas" type="xs:integer" use="required"/>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="sinopsis" type="xs:string"/>
                                    </xs:sequence>
                    
                                    <xs:attribute name="id" use="required">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:pattern value="L\d\d\d\d"/> <!--Con esto restringimos que el formato del id del libro sea como pide el ejercicio -->
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="paginas" type="xs:integer" use="required"/>
                                    <xs:attribute name="tipo_clase" use="required">
                                        <xs:simpleType>                             
                                            <xs:restriction base="xs:string">   <!-- Con esto restringimos los valores de el campo "tipo_clase" a los que indica el ejercicio"-->
                                                <xs:enumeration value="novela"/>
                                                <xs:enumeration value="infantil"/>
                                                <xs:enumeration value="didáctico"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                
                <xs:element name="revistas">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="revista" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="titulo" type="xs:string"/>
                                        <xs:element name="numero" type="xs:integer"/>
                                        <xs:element name="indice" type="xs:string"/>
                                        <xs:element name="secciones_revista">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="seccion_revista" maxOccurs="unbounded">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="contenido">
                                                                    <xs:complexType>
                                                                        <xs:attribute name="enlace" type="xs:string"/>
                                                                    </xs:complexType>
                                                                </xs:element>  
                                                            </xs:sequence>
                                                            <xs:attribute name="paginas" type="xs:integer" use="required"/>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>

                                    <xs:attribute name="id" use="required">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:pattern value="([R][0-9]+)"/> <!--Con esto restringimos que el formato del id del libro sea como pide el ejercicio -->
                                            </xs:restriction>
                                    </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="tipo_clase" use="required"> <!-- Con esto restringimos los valores de el campo "tipo_clase" a los que indica el ejercicio"-->
                                        <xs:simpleType>                             
                                            <xs:restriction base="xs:string">
                                                <xs:enumeration value="corazón"/>
                                                <xs:enumeration value="investigación"/>
                                                <xs:enumeration value="informática"/>
                                                <xs:enumeration value="coches"/>
                                                <xs:enumeration value="otras"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="paginas" type="xs:integer" use="required"/>
                                    

                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <xs:element name="periodicos">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="periodico" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="indice" type="xs:string"/>
                                        <xs:element name="secciones_periodico">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="seccion_periodico" maxOccurs="unbounded">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="articulo">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element name="contenido">
                                                                                <xs:complexType>
                                                                                    <xs:attribute name="enlace" type="xs:string"/>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                        <xs:attribute name="autor" type="xs:string" use="required"/>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                            <xs:attribute name="tipo_seccion" use="required"> <!-- Con esto restringimos los valores de el campo "tipo_clase" a los que indica el ejercicio"-->
                                                                <xs:simpleType>                             
                                                                    <xs:restriction base="xs:string">
                                                                        <xs:enumeration value="económica"/>
                                                                        <xs:enumeration value="opinión"/>
                                                                        <xs:enumeration value="deportes"/>
                                                                        <xs:enumeration value="nacional"/>
                                                                        <xs:enumeration value="internacional"/>
                                                                    </xs:restriction>
                                                                </xs:simpleType>
                                                            </xs:attribute>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>

                                    <xs:attribute name="id" use="required">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:pattern value="P\d\d\d\d"/> <!--Con esto restringimos que el formato del id del libro sea como pide el ejercicio -->
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="tipo_clase" use="required">
                                        <xs:simpleType>                             
                                            <xs:restriction base="xs:string">   <!-- Con esto restringimos los valores de el campo "tipo_clase" a los que indica el ejercicio"-->
                                                <xs:enumeration value="nacionales"/>
                                                <xs:enumeration value="internacionales"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="fecha_publicacion" type="xs:date" use="required"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        
                    </xs:complexType>
                </xs:element>
                
            </xs:sequence>

            
        </xs:complexType>
    </xs:element>
  
</xs:schema>
